<!DOCTYPE html>
<html>
  <head>
    <title>AlphaBlog</title>
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
      <%= csrf_meta_tags %>
  </head>
  
  <body>
    <%= render 'layouts/navigation' %>
    <%= render 'layouts/messages' %>
    <div class="container">
      <%= yield %>
    </div>
    <footer>
      <%= render 'layouts/footer' %>
    </footer>
    <!--debugger actief maken, enkel voor de evironment development-->
    <!--Indien er problemen zijn, zal dit de gegevens van de bug op scherm plaatsen -->
    <%= debug(params) if Rails.env.development? %>
  </body>

</html>
